extends layout

block content
  h1.hero Acerca de MuseArte
  p.hero Proyecto creado por German Moreno.
  p.hero Este museo virtual es una experiencia artística ficticia desarrollada con Node.js y Pug.