extends layout

block content
  main.hero
    h1 MuseArte
    p Bienvenido a nuestro museo virtual de arte moderno. Explora obras únicas e imaginativas de artistas ficticios.
    a.btn(href="/galeria") Entrar a la Galería