doctype html
html
  head
    title= titulo
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/main.js')
  body
    header
      nav
        a(href='/') Inicio |
        a(href='/galeria') Galería |
        a(href='/acerca') Acerca |
    main
    block content
